astroid==2.15.2
attrs==22.2.0
boto3==1.26.9
botocore==1.29.9
certifi==2022.12.7
cffi==1.15.1
charset-normalizer==3.1.0
cryptography==40.0.1
dill==0.3.6
exceptiongroup==1.1.1
idna==3.4
iniconfig==2.0.0
isort==5.12.0
Jinja2==3.1.2
jmespath==1.0.1
jsonschema==4.17.3
jsonschema-default==1.5.0
lazy-object-proxy==1.9.0
MarkupSafe==2.1.2
mccabe==0.7.0
moto==4.1.6
mypy==1.1.1
mypy-extensions==1.0.0
packaging==23.0
platformdirs==3.2.0
pluggy==1.0.0
pycparser==2.21
pylint==2.17.2
pyrsistent==0.19.3
pytest==7.2.2
python-dateutil==2.8.2
PyYAML==6.0
requests==2.28.2
responses==0.23.1
s3transfer==0.6.0
six==1.16.0
tomli==2.0.1
tomlkit==0.11.7
types-PyYAML==6.0.12.9
typing_extensions==4.5.0
urllib3==1.26.12
Werkzeug==2.2.3
wrapt==1.15.0
xeger==0.3.5
xmltodict==0.13.0
